databases:
  - name: asl_db
    plan: free
    ipAllowList: []
      

services:
  - type: web
    name: rails
    env: ruby
    ipAllowList: []
    plan: free
    buildCommand: "./bin/render-build.sh"
    startCommand: bundle exec rails s
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: asl_db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
  - type: redis
    name: redis
    ipAllowList: []
    plan: free
    maxmemoryPolicy: noeviction