<div class='about-container'>
    <div class='about-img-wrapper'>
        <%= image_tag 'nails_and_toes.jpg' %>    
    </div>

    <div class='about-bio-wrapper'>
        <p>Bio....</p>
    </div>
</div>
