<div class="calendar"></div>

<div>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%239E69AF&ctz=America%2FDenver&showTitle=0&showPrint=0&src=YjZiOGNmZjBiOTNlYjViNDNhYjEwY2NkYWY0MTAyM2U0Mzc3NDY0OTc0NzU0N2Y1NzVlNjI0M2YxYmMwZTczOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60&color=%230B8043" style="border:solid 1px #777" width="825" height="600" frameborder="0" scrolling="no"></iframe>
</div>
