@import 'bootstrap';
@import './nav.scss';


body {
    min-width: 100%;
    min-height: 100vh;
    background-color: #161616;
    color: #ccc;
}

.devise-container {
    width: 30%;
}

.form-submit {
    background-color: rgb(26, 26, 202);
    color: ivory;
}

