@import 'bootstrap';

.link {
    color: rgb(170, 182, 170);
    transition: 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
}

.active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.logout-btn {
    border: none;
    background-color: transparent;
}

header {
    background-color: #282828;
}

