@import 'bootstrap';
@import './nav.scss';

body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(30deg, #F7EDE2, #F5CAC3, #84A59D, #F28482);
}

.product-container {
    min-width: 100%;
    min-height: calc(100vh - 250px);
}





