@import 'bootstrap';
@import 'nav';

body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(30deg, #1a0028, #240a05, #000302, #040008);
    color: #90a19e;
    font-family: 'Abril Fatface', cursive;
}

.product-container {
    min-width: 100%;
    min-height: calc(100vh - 250px);
}

.product-form {
    width: 30%;
}

.prod-item-card {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(231, 209, 241, 0.517);
    box-shadow: 0 0 10px rgba(48, 44, 44, 0.2);

    a {
        font-size: 1.2em;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #320c32;
        transition: 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #463232;
            text-decoration: underline;
        }
    }

    h4 {
        font-size: 1.2em;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: #381538;
    }
}





