@import 'bootstrap';
@import 'nav';

body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(30deg, #F7EDE2, #F5CAC3, #84A59D, #F28482);
    font-family: 'Abril Fatface', cursive;
}

.product-container {
    min-width: 100%;
    min-height: calc(100vh - 250px);
}

.product-form {
    width: 30%;
}





