
<div class='product-container'>
  <h1 class='p-2'>Products</h1>
  <%= link_to "New product", new_product_path if logged_in?(:site_admin) %>
  <div id="products" class='m-3 row row-cols-2'>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
</div>

